{% extends 'core/base.html' %}

{% block title %}contact{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-purple-500 rounded-xl">
    <h1 class="mb-6 text-purple-200 font-bold text-3xl">Rules</h1>
    <h1 class="mb-6 text-purple-300 font-bold ">
        1. No monetary transactions allowed. Items must be exchanged for other items.<br>
        2. Users are expected to accurately describe the technical state of their items.<br>
        3. Only post items that are legal and appropriate for all ages.<br>
        4. Users must be 18 years or older to use the site.<br>
        5. The site reserves the right to remove any inappropriate content or users.<br>
        6. Users must respect each other's privacy and personal information.<br>
        7. The site is not responsible for any lost, damaged or misrepresented items.<br>
        8. Users must exercise caution when making exchanges with other users.<br>
        9. Town location must be included in item description for ease of exchange.<br>
        10. By posting an item, users agree to send the item to the other user in a timely manner.<br>
        11. The site does not guarantee the quality or condition of any items exchanged.<br>
        12. Users must communicate clearly and promptly to ensure smooth exchanges.<br>
        13. Users may not use the site for any commercial or promotional purposes.<br>
        14. The site is not responsible for any disputes or issues that arise between users.<br>
        15. By using the site, users agree to abide by all the rules and regulations and understand that any violation of these rules may result in the removal of their account and/or items from the site.<br>
        16. By term "condition" we understand as actual physical condition of the product in scale 1 to 10, it is purely subjective, but we encourage you to mark the condition term as close to truth as possible
</div>

{% endblock %}
